$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  color: white;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: sans-serif;
}
#logo:hover{
  color: #CCC;
}
.navbar-default .navbar-nav > li > a{
  color: white;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('mountains.jpeg');
  background-size: cover;
  height: 300px;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.show_desc{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}
