<div class="container">
  <footer class="footer">
    <small>
      All Rights Reserved Alpha Blog 2016. Designed by <a href="http://jasonashton.me" target="_blank">Jason Ashton</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
